@{
    ViewBag.Title = "Index";
}

<div class="container">
    @using (Html.BeginForm("Build", "LogViewer", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <dl>
            <dt>
                <label for="FileUpload_FormFile">File</label>
            </dt>
            <dd>
                <input id="FileUpload_FormFile"
                       type="file"
                       accept=".txt"
                       name="uploadedFile"/>
            </dd>
        </dl>
        <input type="submit" value="Import"/>
    }
</div>