<label class="my-2"><input type="checkbox" onclick="showPassword()" id="InputCheckboxShowPassword"> Show Password</label>

<script type="text/javascript">
    let inputPassword = document.getElementById("InputPassword");
    let checkboxShowPassword = document.getElementById("InputCheckboxShowPassword");

    function showPassword() {
        if (checkboxShowPassword.checked) {
            inputPassword.type = "text";
        }
        else {
            inputPassword.type = "password";
        }
    }
</script>