@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    
    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
    <div class="card mt-2">
        <h5 class="card-header">LogViewer</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment (DRAFT)</h5>
            <p class="card-text">I'm additional content (DRAFT)</p>
            <a asp-area="" asp-controller="LogViewer" asp-action="Index" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>